/c/Makefile.in
/c/aclocal.m4
/c/autom4te.cache/
/c/build-aux/
/c/config.h.in
/c/configure
/c/m4/
/c/Makefile
/c/config.h
/c/config.log
/c/config.status
*.la
*.a
*.lo
*.o
*.so
.libs
.deps
.dirstamp
/c/libtool
/c/rsyscall.pc
c/stamp-h1
/python/build/
/python/rsyscall.egg-info/
__pycache__
/python/.mypy_cache/
/python/.pytest_cache/
